/* @override http://localhost/web/dokuwiki/lib/tpl/osbp_dokuwiki_theme/css/layout.css */

/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 * @author Michael Klier <chi@chimeric.de>
 *
 * Modification for mmClean Theme
 * @author Marcin Mierzejewski <marcin@mierzejewski.net>
 */


/* -------------- top row --------------- */

.stylefoot 
{
  display:block;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  margin-top:10px;
  font-weight:normal;
  text-align:right;
}

.pagename a:link, .pagename a:visited 
{
  color:#436976;
  text-decoration:none;
}

.pagename a:hover, .pagename a:active 
{
  color:#FF9933;
}

#bar_bottom {
  display:block;
  margin-bottom:3px;
}

/* ------------- File Metadata ----------------------- */

div.meta {
  clear: both;
  color:#436976;
  font-size:0.8125em;
  text-align:right;
}

div.sidebar div.meta {
	text-align: left;
	margin-top: .5em;
}

/* ---------------  Media Selection  ----------------- */

div.uploadform {
  margin-top: 0.5em;
  border-top: 1px solid #8cacbb;
}

.mediaselect-left {
  float:left;
  padding: 0.5em;
  width:30%;
}

.mediaselect-right {
  float:right;
  border-left: 1px solid #8cacbb;
  padding: 0.5em;
  width:65%;
}

div.mediaref_head {
	margin-left:0.5em;
}

div.mediaref .search_result {
	padding-left:1em;
}

.mediaref_ref {
	color:#009900;
}

div.mediaref_hidden {
	margin-top:1em;
	text-align:center;
	font-size:1.2em;
	color:#BB0000;
}

div.mediaref_footer {
	margin-top:1em;
	text-align:center;
}

